apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
data:
  logstash.conf: |
    input {
      beats {
        port => 5044
      }
    }
    filter {
      if [kubernetes] {
        mutate { add_field => { "namespace" => "%{[kubernetes][namespace]}" } }
      }
    }
    output {
      elasticsearch {
        hosts => ["http://elasticsearch:9200"]
        index => "k8s-logs-%{+YYYY.MM.dd}"
      }
    }

